.container {
    max-width: 80rem;
    margin: 0 auto;

    padding: 4rem 0;

    display: flex;
    gap: 1rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text h3 {
    line-height: 1.9rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.img img{
    max-width: 40rem;
}